.wrapper {
width: 60%;
margin: 0 auto;
}

p {
padding: 2px;
background-color: white;
color: black;
}

.block {
padding: 20px;
background-color: #6495ED;

}

footer {
  text-align: center;
  padding: 40px;
  background-color: midnightblue;
  color: white;
