{% load static %}
<!DOCTYPE html>
<html>

<head>

  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600italic,600' rel='stylesheet' type='text/css'>
  <link rel="Stylesheet" href="{% static 'CSS/home.css' %}" type="text/css" />
  <link rel="Stylesheet" href='https://ianlunn.github.io/Hover/css/hover.css' type="text/css" />
  <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
<style>
footer {
  text-align: center;
  padding: 10px;
  background-color: midnightblue;
  color: white;

}

p {
padding: 2px;
background-color: white;
}

.block {
padding: 20px;
background-color: #6495ED;
color: white

}
</style>
</head>

<body>
<div>
  <nav>
    <ul>

      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="/residences">Residences</a>
        <ul>
          <li><a href="{% url 'latham' %}">Latham</a></li>
          <li><a href="">Falcrest</a>
            <ul>
              <li><a href="{% url 'falcrestA' %}">Building A (701)</a></li>
              <li><a href="{% url 'falcrestB' %}">Building B (711)</a></li>
              <li><a href="{% url 'falcrestC' %}">Building C (721)</a></li>
              <li><a href="{% url 'falcrestD' %}">Building D (731)</a></li>
            </ul>
          </li>
          <li><a href="{% url 'weston' %}">Weston</a>
          </li>
          <li><a href="{% url 'boyer' %}">Boyer</a></li>
        </ul>
      </li>
      <li>
        <a href="/contact">Contact Us</a>
        <ul>
          <li><a href="">SAU Housing</a></li>
          <li><a href="">Meet Our Team</a></li>
        </ul>
      </li>
      <li><a href="/apply">Apply</a></li>
      <li><a href="/issue">Report Issue (Maintenance)</a></li>
       {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="#">Welcome {{user.username}}</a></li>
    {% else%}
  <li><a href="{% url 'login' %}">Login</a></li>
  <li><a href="{% url 'register' %}">register</a></li>

    {% endif %}

    </ul>
  </nav>

<ul class="centernav">
  <img class="logo" src="{% static 'images/saulogo.png' %}">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="https://www.st-aug.edu/about-us/">About</a></li>
  <li><a href="https://saintaugfalcons.com/index.aspx">Athletes</a></li>
  <li><a href="/honors">Honors College</a></li>
  <li><a href="/news">News</a></li>
</ul>
  </div>


{% block content%}

  {% endblock %}
<div>
  <footer>
        &copy; Copyright 2021  Tinashe Kucherera
</footer>
</div>

</body>


</html>
