{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>

    </style>
</head>
{% block content %}

<p>

    <div >
        {% for slide in mySlides %}
        <img class="mySlides" src="{{slide.img.url}}" style="width:100%" style="height:800">
        {% endfor %}
    </div>
<p>
    <div id="container">
        <div class="block">
            <h3>
                Pay your Housing fee
            </h3>
        </div>
    </div>
<p>




 <script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 6000); // Change image every 2 seconds
}
</script>
{% endblock %}
</body>
</html>