{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>

  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600italic,600' rel='stylesheet' type='text/css'>
  <link rel="Stylesheet" href="{% static 'CSS/accounts.css'%}" type="text/css" />


  <link rel="Stylesheet" href='https://ianlunn.github.io/Hover/css/hover.css' type="text/css" />

  <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
{% block content %}
<form action="{% url 'login' %}" method = 'post' style="border:1px solid #ccc">
    {% csrf_token %}
  <div id="container">
  <ul>
    <li><a href="{% url 'register' %}">SignUp</a></li>

  </ul>
    <h1>{{school}} housing Login</h1>
    <p>If you don't have account press SignUp to create account</p>
    <hr>
      {% csrf_token %}
     <div id ="taken">
        {% for message in messages %}
          <p> {{message}} </p>
        {% endfor %}
      </div>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Password" name="password" required>

      <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signinbtn">Login</button>
    </div>
     </div>
</form>
      {% endblock %}
<div class="footer">
    <p>&copy copyright 2021 Tinashe Kucherera</p>
</div>
</body>
</html>