{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% static "images" as baseUrl %}
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/pick_room.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
     <h1>Thank you issue has been sent</h1>
    {% for message in messages %}
        <h1>{{user.name}} {{message}}</h1>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>