{% load static %}
<!DOCTYPE html>
<html>

<head>

  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600italic,600' rel='stylesheet' type='text/css'>
  <link rel="Stylesheet" href="{% static 'CSS/home.css'%}" type="text/css" />
  <link rel="Stylesheet" href='https://ianlunn.github.io/Hover/css/hover.css' type="text/css" />
  <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>

</head>

<body>
  <nav>
    <ul>

      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="/residences">Residences</a>
        <ul>
          <li><a href="">Latham</a></li>
          <li><a href="{% static '#' %}">Falcrest</a>
            <ul>
              <li><a href="">Building A (701)</a></li>
              <li><a href="">Building B (711)</a></li>
              <li><a href="">Building C (721)</a></li>
              <li><a href="">Building D (731)</a></li>
            </ul>
          </li>
          <li><a href="">Weston</a>
          </li>
          <li><a href="">Boyer</a></li>
        </ul>
      </li>
      <li>
        <a href="/contact">Contact Us</a>
        <ul>
          <li><a href="">SAU Housing</a></li>
          <li><a href="">Meet Our Team</a></li>
        </ul>
      </li>
      <li><a href="/apply">Apply</a></li>
      <li><a href="/issue">Report Issue (Maintenance)</a></li>

    </ul>
  </nav>

<ul class="centernav">
  <img class="logo" src="{% static 'images/saulogo.png' %}">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/athletes">Athletes</a></li>
  <li><a href="/honors">Honors College</a></li>
  <li><a href="/news">News</a></li>
</ul>
{% block content%}

  {% endblock %}

</body>

</html>
