{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>

  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600italic,600' rel='stylesheet' type='text/css'>
  <link rel="Stylesheet" href="{% static 'CSS/accounts.css'%}" type="text/css" />
    <script src="{% static 'js/passwords.js' %}"></script>

  <link rel="Stylesheet" href='https://ianlunn.github.io/Hover/css/hover.css' type="text/css" />

  <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
{% block content %}
<form action="register" method = 'POST' style="border:1px solid #ccc" onsubmit="someFunction(this);return false">
  <div id="container">
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>

  </ul>
    <h1>{{school}} housing SignUp</h1>
    <p>If you already have account press login button</p>
    <hr>
    <div id = "wrapper">
     {% csrf_token %}
      <div id ="taken">
        {% for message in messages %}
          <p> {{message}} </p>
        {% endfor %}
      </div>
    <label for="name"><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="name" required>

      <label for="last-name"><b>Last name</b></label>
    <input type="text" placeholder="Last name" name="last-name" required>

    <label for="username"><b>username</b></label>
    <input type="text" placeholder="Enter UserName" name="username" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter SAU Email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" style="color: #B8B894;"  onblur="if(this.value == '') { this.value='Password'}" onfocus="if (this.value == 'Password') {this.value=''}" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"  required>
    <div id="message">
    <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>

    <label for="password2">Confirm Pass:</label>
    <input type="password" name="password2" id="password2" onkeyup="checkPass(); return false;" />
        <span id="confirmMessage" class="confirmMessage"></span><br/>


  </div>
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>

{% endblock %}

<div class="footer">
    <p>&copy copyright 2021 Tinashe Kucherera</p>
  </div>

<script>
var myInput = document.getElementById("password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }

  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }

  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>

</body>

</html>