{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>s
<html lang="en">
<head>
    {% block content%}
    <meta charset="UTF-8">
    <title>Report Issue</title>
    <link rel="Stylesheet" href="{% static 'CSS/issues.css'%}" type="text/css" />
</head>
<body>

<div class="container">
    <h3>Now you can report a problem with just the click of button</h3>
    <form action="{% url 'issues' %}">
        <button type="submit" class="applybutton applybutton1" value="wifi"  name="wifi">Wifi</button>
        <button type="submit" class="applybutton applybutton1" value="cable"  name="cable" >Cable</button>
        <button type="submit" class="applybutton applybutton1" value="utility"  name="utility"  >Utilities</button>
    </form>


<div>
    <h3>If you have another problem write it in textbox</h3>
    <form action="#" method="get">
        <label for="problem">
            Problem
        </label></br>
        <textarea rows="6" cols="60" id="problem" name="problem" placeholder="Write in this area"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
</div>
{% endblock %}
</body>
</html>